.playerContainer {
  display: block;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  z-index: 1000000;
}

.player {
  // width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #212121;
  // background-image: linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.6) 100% );
  color: #909090;
  z-index: 1000000;
}
